<!-- <h1>EDIT PROFILE</h1>
<a href="/">HOME</a>
<a href="/profile">PROFILE</a>

<form method="POST" action="/profile/<%= user.id %>/?_method=PUT">
    <input type="number" name="birthYear" value="<%= profile.birthYear %>"><br>
    <input type="text" name="gender" value="<%= profile.gender %>"><br>
    <input type="text" name="city" value="<%= profile.city %>"><br>
    <input type="text" name="state" value="<%= profile.state %>"><br>
    <input type="text" name="country" value="<%= profile.country %>"><br>
    <input type="text" name="language" value="<%= profile.language %>">
    <input type="submit" value="EDIT">

</form> -->
