<h2>Profile Page</h2>

<a href="/">Home</a>
<a href="/country">Countries</a>

<div class="profile">
<ul>
    <li>BIRTH YEAR : <%= profile.birthYear %></li>
    <li>GENDER : <%= profile.gender %></li>
    <li>CITY : <%= profile.city%></li>
    <li>STATE : <%= profile.state %></li>
    <li>COUNTRY : <%= profile.country %></li>
    <li>LANGUAGE : <%= profile.language%></li>
</ul>
<a href="/profile/<%= profile.id %>/edit">edit</a>
</div>

<div class="destinations">
<h2>DESTINATION WISH LIST</h2>

    <% destinations.forEach(function(destination) { %>
        <%= destination.name %>
        <form method="POST" action="/country/<%= destination.id %>/?_method=DELETE">
            <input type="submit" value="REMOVE DESTINATION">
        </form>
   <% }) %>


</div>


<div class="friends">
    <h2>FRIENDS LIST</h2>
    <% friends.forEach(function(friend) { %>
        <%= friend.name %> 
        <form method="POST" action="/friend/<%= friend.id %>/?_method=DELETE">
            <input type="submit" value="UNFRIEND">
        </form>
  <% }) %>
   
</div>

