<h2>Profile Page</h2>

<a href="/">Home</a>
<a href="/profile/new">Create Profile</a>

<ul>
    <li>BIRTH YEAR : <%= profile.birthYear %></li>
    <li>GENDER : <%= profile.gender %></li>
    <li>CITY : <%= profile.city%></li>
    <li>STATE : <%= profile.state %></li>
    <li>COUNTRY : <%= profile.country %></li>
    <li>LANGUAGE : <%= profile.language%></li>
</ul>

